[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
protocol = { path = "../protocol" }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"

[dev-dependencies]
tempfile = "3.23.0"
